/* Reset e importação das classes de css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ocultar a rolagem horizontal*/
body {
    @apply bg-[#141414] h-full overflow-x-hidden;
}

#__next {
    @apply h-full;
}

html {
    @apply h-full;
}

@media (max-width: 315px) {
    .smaller {
        display: none;
    }
    .smallmb {
        top: -110px !important;
    }
}

@media (max-width: 460px) {
    .logoimage {
        width: 60px !important;
        height: 30px !important;
    }
    .contentsmall {
        display: none;
    }
    .topnavbarsmall {
        top: -5px !important;
    }
    .buttonsmall {
        right: -41px !important;
        top: 10px !important;
    }
    .smallmb:first-child {
        margin-top: 100px !important;
    }
    .topsmall {
        top: -24px !important;
    }
    .smallcontent {
        display: none;
    }
    .mutesmall {
        display: none;
    }
    .durationsmall {
        margin-left: -15px !important;
    }
    .muteinfosmall {
        margin-left: -120px !important;
    }
}

@media (max-width: 490px) {
    .descriptiontext {
        display: none;
    }
    .descriptiontext {
        display: none;
    }
    .text-1xl {
        font-size: 0.8em;
        width: 100%;
        margin-top: 10px;
    }
    .md\:top-\[60\%\] {
        top: 50% !important;
    }
}

@media (max-width: 580px) {
    .descriptiontext {
        display: none;
    }
    .text-1xl {
        font-size: 0.8em;
        width: 100%;
        margin-top: 20px;
    }
    .md\:top-\[60\%\] {
        top: 50% !important;
    }
    .xl\:top-\[80\%\] {
        top: 60% !important;
    }
    .buttonsize img {
        width: 25px;
        height: 25px;
        margin-top: 5px;
    }
    .favoritesmall {
        display: none;
    }
}

@media (min-width: 750px) {
    .md\:top-\[60\%\] {
        top: 55% !important;
    }
    .buttonsize img {
        width: 35px !important;
        height: 35px !important;
        margin-top: 5px;
    }
}


@media (min-width: 700px) {
    .buttonsize svg {
        font-size: 25px;
    }
    .buttonsize img {
        width: 25px;
        height: 25px;
        margin-top: 8px !important;
    }
}

@media (min-width: 768px) {
    .descriptiontext {
        font-size: 13px !important;
    }
    .md\:top-\[60\%\] {
        top: 37% !important;
    }
    .xl\:top-\[80\%\] {
        top: 60% !important;
    }
    .md\:text-lg {
        width: 65% !important;
    }
}

@media (min-width: 900px) {
    .md\:top-\[60\%\] {
        top: 45% !important;
    }
    .xl\:top-\[80\%\] {
        top: 60% !important;
    }
}

@media (min-width: 1000px) {
    .md\:top-\[60\%\] {
        top: 50% !important;
    }
}

@media (min-width: 1024px) {
    .buttonsize svg {
        font-size: 25px;
    }
    .buttonsize img {
        width: 25px;
        height: 25px;
        margin-top: 12px !important;
    }
    .md\:top-\[60\%\] {
        top: 45% !important;
    }
    .xl\:top-\[80\%\] {
        top: 60% !important;
    }
    .md\:text-lg {
        width: 50% !important;
        font-size: 1.125rem !important;
        line-height: 1.75rem !important;
    }
}

@media (min-width: 590px) {
    .text-1xl {
        font-size: 1.5rem !important;
        line-height: 2rem !important;
    }
    .md\:top-\[60\%\] {
        top: 45% !important;
    }
    .xl\:top-\[80\%\] {
        top: 56% !important;
    }
    .buttonsize img {
        width: 25px !important;
        height: 25px !important;
        margin-top: 5px;
    }
}

@media (min-width: 1280px) {
    .buttonsize svg {
        font-size: 25px;
    }
    .buttonsize img {
        width: 25px;
        height: 25px;
    }
}

@media (min-width: 1536px) {
    .buttonsize svg {
        font-size: 35px;
    }
    .buttonsize img {
        width: 35px;
        height: 35px;
    }
}

@media (min-width: 1600px) {
    .buttonsize svg {
        font-size: 35px;
    }
    .buttonsize img {
        width: 35px;
        height: 35px;
    }
    .xl\:top-\[80\%\] {
        top: 68% !important;
    }
    .xl\:top-\[65\%\] {
        top: 60% !important;
    }
    .xl\:w-\[50\%\] {
        width: 40% !important;
    }
}

/* Borrão que fica embaixo do vídeo no billboard */
.bottom-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    background-color: #141414;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    mask-image: linear-gradient(to bottom, #141414, transparent);
    -webkit-mask-image: linear-gradient(to bottom, transparent 50%, #141414 68%);
}

.bottom-overlaymodal {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45%;
    background-color: #141414;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    mask-image: linear-gradient(to bottom, #141414, transparent);
    -webkit-mask-image: linear-gradient(to bottom, transparent 50%, #141414 68%);
}

.custom-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
  
.custom-slide img {
    max-width: 100%;
    height: auto;
}

.slick-prev:before {
    color: #209cee !important;
}

.slick-next:before {
    color: #209cee !important;
}

@media (max-width: 1024px) {
    .slick-next:before {
        display: none !important;
    }
    .slick-prev:before {
        display: none !important;
    }
}

.slick-slider {
    overflow: visible !important;
}

.custom-slider {
    overflow: visible !important;
}

.slick-initialized {
    overflow: visible !important;
}

.group:hover .group-hover\:scale-110 {
    --tw-scale-x: 1.3 !important;
    --tw-scale-y: 1.3 !important;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.marginfifteen {
    margin-left: 0.15em;
}

.slide-animation {
    transition: transform 10s ease-in-out;
}